stages:
  - test

test_solutions:
  image: domwst/caos-private-ci
  tags: [caos]
  stage: test
  rules:
    # Public gitlab repo
    - if: $CI_PROJECT_NAME == "hse-caos-public"
      when: never
    # Public manytask repo
    - if: $CI_PROJECT_NAME == "public-repository"
      when: never
    - when: on_success
  script:
    - (cd /public; cargo xtask move --from $CI_PROJECT_DIR --to . && ./common/tools/test_all_tasks.sh)

