stages:
  - test

test_solutions:
  image: domwst/caos-runner
  tags: [caos]
  stage: test
  rules:
    # Public gitlab repo
    - if: $CI_PROJECT_NAME == "hse-caos-public"
      when: never
    # Public manytask repo
    - if: $CI_PROJECT_NAME == "public-repository"
      when: never
    - when: on_success
  script:
    - >
      (cd /public;
      # git pull &&
      cargo xtask move --from $CI_PROJECT_DIR --to . &&
      ./common/tools/test_tasks_with_diff.sh $CI_PROJECT_DIR)

