tests:
  - type: run-cmd
    cmd: [build:test_philosophers]
    profiles: [asan, tsan, release]
    extra_env:
      # False-positive lock-order-inversion warnings
      TSAN_OPTIONS: "detect_deadlocks=0"
  - type: forbidden-patterns
    token:
      - std::lock
      - std::scoped_lock
    substring:
      - try_lock
  - type: report-score
    task: philosophers
editable:
  - table.cpp
